html, body, div, header, nav, main, section, footer {margin: 0; padding: 0;}
header, nav, main, footer, section {display: block;}  /* Detta kanske måste bort om det blir för märkligt. */

head {
    height: 0%;
}

.wrapper {
    background-image: url("../image/background1.jpg");
    height: fit-content;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.content {
    min-height: calc(100vh - 50px); /* Forces footer down. */
}

footer {
    position: absolute;
    text-align: right;
    background-color: #000;
    background-image: url("../image/transFooter.png");
    height: 50px;
    width: 100%;
    border-top: 2px solid #000;
    clear: both;
    font-weight: bolder;
}

footer p {
    margin-right: 10px;
}