.wrapper {
    background-image: url("../image/background1.jpg");
    height: fit-content;
}

.content {
    min-height: calc(100vh - 70px);
}

footer {
    text-align: right;
    height: 50px;
    width: 100%;
    border-top: 1px solid #000;
}