html, head, body, div, header, nav, main, section, footer {margin: 0; padding: 0;}
header, nav, main, footer, section {display: block;}

/* Head items */
head {
    height: 0%;
}

/* Body items */
.wrapper {
    background-image: url("../image/background.jpg");
    height: 100%;
    width: 100%;
    position: fixed;    /* Fix screen-size to actual screen-size. */
}

#content {
    min-height: calc(100vh - 65px); /* Forces footer down. */
    margin: 50px;
}

/* Footer items */
footer {
    position: absolute;
    text-align: right;
    background-color: #000;
    background-image: url("../image/transFooter.png");
    height: 65px;
    width: 100%;
    border-top: 3px solid #000;
    clear: both;
    font-weight: bolder;
    bottom: 0px;
}

footer h4 {
    margin-right: 10px;
}

.icons {     /* App buttons */
    display: relative;
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.icons p {
    display: inline;
    font-weight: bolder;
}

/* Random utilities */
.removed {
    visibility: hidden;
}

#desktop img {
    width: 70px;
}